#profile {
    display: grid;
    justify-items: center;

    
    div {
        display: flex;
        align-items: center;

        * {
            display: inline-block;
        }
        
        text-align: center;
    }
    
    img, span {
        height: 30px;
        width: 30px;
        margin: 10px ;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
}

#returnbutton {
    position: absolute;
    margin: 0;
    left: 2rem;
    top: 2rem;
}
