#home {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

#logout {
  height: 1rem;
}

#banner {
  text-align: center;
}

#convo-bar {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  background-color: #333140;
  padding-left: 20px;

  text-overflow: ellipsis;
  span {
      margin: 10px ;
      margin-left: 0px;
  }

  ul {
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
  }

  section > * {
    margin: 10px;
  }

  button {
    margin-bottom: 10px;
  }

  input {
    width: 55px;
  }

  form {
      width: 55px;
  } 

  #profile-thing {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      cursor: pointer;
      filter: invert(1);
      margin: 15px;
    }
  }
}

#send-message-container {
  width: 80%;

  margin: 1.5rem;
}

.convo-item {
  display: flex;
  align-items: center;

  cursor: pointer;

  * {
    display: inline;
    margin: 10px;
  }

  img {
    height: 30px;
    width: 30px;
    margin: 10px ;
    margin-left: 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  span {
    height: 30px;
    width: 30px;
    margin: 10px ;
    margin-left: 0px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

}

#messagelist {
  overflow-y: scroll;
  flex: 1;

  &:first-child {
      margin-top: 1rem;
  }


  .message {
    margin: 0 3rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;

    * {
      display: inline;
    }

    p {
      display: block;
      
      &:not(.nopic) {
        margin: 0 7px;
      }
    }

    img, span {
      height: 30px;
      width: 30px;
      margin: 0 0.4rem;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }


    .nopic {
      margin: 7px 50px;
    }

    .message-title {
      height: 30px;
      display: flex;
      align-items: center;

      h3 {
        margin: 0 0.4rem;
      }

    }

  }
  .sender {
    justify-content: end;
    text-align: end;
    flex-direction: row-reverse;

    .message-title {
      flex-direction: row-reverse;
    }
  }
}

.message-container {
  display: flex;

  flex: 1;
  flex-direction: column;

  form {
    bottom: 0;
    width: 100%;

    background-color: #181623;
  }
}
